Click==7.0
dukpy==0.2.2
Flask==1.0.2
Flask-Cors==3.0.7
future==0.17.1
itsdangerous==1.1.0
javascripthon==0.10
Jinja2==2.10
jupyter-echarts-pypkg==0.1.2
lightgbm==2.2.4
lml==0.0.2
macropy3==1.1.0b2
MarkupSafe==1.1.1
numpy==1.16.2
pandas==0.24.1
Pillow==5.4.1
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyecharts-snapshot==0.1.10
python-dateutil==2.8.0
pytz==2018.9
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
Werkzeug==0.14.1
