<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css"> -->
    <link rel="stylesheet" href="../../../static/lib/muse-ui/material-icons.css">
    <link rel="stylesheet" href="../../../static/lib/muse-ui/muse-ui.css">
    <link rel="stylesheet" href="../../../static/lib/muse-ui/robotoFont_style.css">
    <link rel="stylesheet" href="../../../static/lib/css/main_.css">
</head>
<body>
    <div id="app">
        <div class="main">
            <mu-bottom-nav :value.sync="shift" shift color="blue500">
                    <mu-bottom-nav-item value="input_data" title="input_data" icon="equalizer"></mu-bottom-nav-item>
                    <mu-bottom-nav-item value="leaderboard" title="leaderboard" icon="books"></mu-bottom-nav-item>
                    <mu-bottom-nav-item value="laughtpictures" title="laughtpictures" icon="photo"></mu-bottom-nav-item>
                    <mu-bottom-nav-item value="mapchart" title="mapchart" icon="wallpaper"></mu-bottom-nav-item>
                </mu-bottom-nav>
            <div class="contain" color="">
                    <mu-container class="input_data" v-if="shift=='input_data'">
                            <mu-flex align-items="center" style="padding-bottom: 8px;">
                              <span style="margin-right: 16px;">Label Position:</span>
                              <mu-radio v-model="labelPosition" style="margin-right: 16px;" value="top" label="Top"></mu-radio>
                              <mu-radio v-model="labelPosition" style="margin-right: 16px;" value="left" label="Left"></mu-radio>
                              <mu-radio v-model="labelPosition" style="margin-right: 16px;" value="right" label="Right"></mu-radio>
                            </mu-flex>
                            <mu-form :model="input_data_form" class="mu-demo-form" :label-position="labelPosition" label-width="100">
                              <!-- assists助攻数 -->
                              <mu-form-item prop="slider" label="助攻数">
                                <mu-slider v-model="input_data_form.assists"></mu-slider>
                              </mu-form-item>
                              <!-- boosts使用能量道具数量 -->
                              <mu-form-item prop="slider" label="使用能量道具数量">
                                <mu-slider v-model="input_data_form.boosts"></mu-slider>
                              </mu-form-item>
                              <!-- damageDealt总的伤害 -->
                              <mu-form-item prop="slider" label="总的伤害">
                                <mu-slider v-model="input_data_form.damageDealt"></mu-slider>
                              </mu-form-item>
                              <!-- DBNOs击倒敌人数量 -->
                              <mu-form-item prop="slider" label="击倒敌人数量">
                                <mu-slider v-model="input_data_form.DBNOs"></mu-slider>
                              </mu-form-item>
                              <!-- headshotKills爆头数 -->
                              <mu-form-item prop="slider" label="爆头数">
                                <mu-slider v-model="input_data_form.headshotKills"></mu-slider>
                              </mu-form-item>
                              <!-- heals使用治疗药品数量 -->
                              <mu-form-item prop="slider" label="使用治疗药品数量">
                                <mu-slider v-model="input_data_form.heals"></mu-slider>
                              </mu-form-item>
                              <!-- killPlace本场比赛杀敌排行 -->
                              <mu-form-item prop="slider" label="本场比赛杀敌排行">
                                <mu-slider v-model="input_data_form.killPlace"></mu-slider>
                              </mu-form-item>
                              <!-- killPointsElo杀敌排名 -->
                              <mu-form-item prop="slider" label="杀敌排名">
                                <mu-slider v-model="input_data_form.killPointsElo"></mu-slider>
                              </mu-form-item>
                              <!-- kills杀敌数 -->
                              <mu-form-item prop="slider" label="杀敌数">
                                <mu-slider v-model="input_data_form.kills"></mu-ssslider>
                              </mu-form-item>
                              <!-- killStreaks连续杀敌数 -->
                              <mu-form-item prop="slider" label="连续杀敌数">
                                <mu-slider v-model="input_data_form.killStreaks"></mu-slider>
                              </mu-form-item>
                              <!-- longestKill最远杀敌距离 -->
                              <mu-form-item prop="slider" label="最远杀敌距离">
                                <mu-slider v-model="input_data_form.longestKill"></mu-slider>
                              </mu-form-item>
                              <!-- matchDuration比赛时长 -->
                              <mu-form-item prop="slider" label="比赛时长">
                                <mu-slider v-model="input_data_form.matchDuration"></mu-slider>
                              </mu-form-item>
                              <!-- matchType比赛类型（小组人数） -->
                              <mu-form-item prop="select" label="比赛类型">
                                <mu-select v-model="input_data_form.matchType_select">
                                  <mu-option  label="单排" value="solo"></mu-option>
                                  <mu-option  label="双排" value="duo"></mu-option>
                                  <mu-option  label="四排" value="squad"></mu-option>
                                  <!-- <mu-option v-for="option,index in matchType_type" :key="option" :label="option" :value="option"></mu-option> -->
                                </mu-select>
                              </mu-form-item>
                              <!-- maxPlace本局最差名次 -->
                              <mu-form-item prop="slider" label="本局最差名次">
                                <mu-slider v-model="input_data_form.maxPlace"></mu-slider>
                              </mu-form-item>
                              <!-- numGroups小组数目 -->
                              <mu-form-item prop="slider" label="小组数目">
                                <mu-slider v-model="input_data_form.numGroups"></mu-slider>
                              </mu-form-item>
                              <!-- rankPointsElo排名 -->
                              <mu-form-item prop="slider" label="Elo排名">
                                <mu-slider v-model="input_data_form.rankPointsElo"></mu-slider>
                              </mu-form-item>
                              <!-- revives救活队友的次数 -->
                              <mu-form-item prop="slider" label="救活队友的次数">
                                <mu-slider v-model="input_data_form.revives"></mu-slider>
                              </mu-form-item>
                              <!-- rideDistance驾车距离 -->
                              <mu-form-item prop="slider" label="驾车距离">
                                <mu-slider v-model="input_data_form.rideDistance"></mu-slider>
                              </mu-form-item>
                              <!-- roadKills驾车杀敌数 -->
                              <mu-form-item prop="slider" label="驾车杀敌数">
                                <mu-slider v-model="input_data_form.roadKills"></mu-slider>
                              </mu-form-item>
                              <!-- swimDistance游泳距离 -->
                              <mu-form-item prop="slider" label="游泳距离">
                                <mu-slider v-model="input_data_form.swimDistance"></mu-slider>
                              </mu-form-item>
                              <!-- teamKills杀死队友的次数 -->
                              <mu-form-item prop="slider" label="杀死队友的次数">
                                <mu-slider v-model="input_data_form.teamKills"></mu-slider>
                              </mu-form-item>
                              <!-- vehicleDestroys毁坏机动车的数量 -->
                              <mu-form-item prop="slider" label="毁坏机动车的数量">
                                <mu-slider v-model="input_data_form.vehicleDestroys"></mu-slider>
                              </mu-form-item>
                              <!-- walkDistance步行距离 -->
                              <mu-form-item prop="slider" label="步行距离">
                                <mu-slider v-model="input_data_form.walkDistance"></mu-slider>
                              </mu-form-item>
                              <!-- weaponsAcquired收集武器数量 -->
                              <mu-form-item prop="slider" label="收集武器数量">
                                <mu-slider v-model="input_data_form.weaponsAcquired"></mu-slider>
                              </mu-form-item>
                              <!-- winPoints胜率Elo排名 -->
                              <mu-form-item prop="slider" label="胜率Elo排名">
                                <mu-slider v-model="input_data_form.winPoints"></mu-slider>
                              </mu-form-item>
                              <!-- winPlacePerc百分比排名 -->
                              
                              <!-- <mu-form-item prop="input" label="Input">
                                <mu-text-field v-model="form.input"></mu-text-field>
                              </mu-form-item>
                              <mu-form-item prop="select" label="Select">
                                <mu-select v-model="form.select">
                                  <mu-option v-for="option,index in options" :key="option" :label="option" :value="option"></mu-option>
                                </mu-select>
                              </mu-form-item>
                              <mu-form-item prop="date" label="Date Time">
                                <mu-date-input v-model="form.date" type="dateTime" actions></mu-date-input>
                              </mu-form-item>
                              <mu-form-item prop="radio" label="Radio">
                                <mu-radio v-model="form.radio" value="male" label="Male"></mu-radio>
                                <mu-radio v-model="form.radio" value="female" label="Female"></mu-radio>
                              </mu-form-item>
                              <mu-form-item prop="checkbox" label="Checkbox">
                                <mu-checkbox v-model="form.checkbox" value="eat" label="Eat"></mu-checkbox>
                                <mu-checkbox v-model="form.checkbox" value="sleep" label="Sleep"></mu-checkbox>
                                <mu-checkbox v-model="form.checkbox" value="run" label="Run"></mu-checkbox>
                                <mu-checkbox v-model="form.checkbox" value="movie" label="Movie"></mu-checkbox>
                              </mu-form-item>
                              <mu-form-item prop="switch" label="Switch">
                                <mu-switch v-model="form.switch"></mu-switch>
                              </mu-form-item>
                              <mu-form-item prop="slider" label="Slider">
                                <mu-slider v-model="form.slider"></mu-slider>
                              </mu-form-item>
                              <mu-form-item prop="textarea" label="Textarea">
                                <mu-text-field multi-line :rows="3" :rows-max="6" v-model="form.textarea"></mu-text-field>
                              </mu-form-item> -->
                            </mu-form>
                              <mu-button color="secondary" @click="submit">submit</mu-button>
                    </mu-container>
                    <mu-container class="leaderboard" v-if="shift=='leaderboard'">
                        <mu-paper :z-depth="1">
                                <mu-data-table :columns="leaderboard_columns" :sort.sync="sort" @sort-change="handleSortChange" :data="leaderboard_data">
                                    <template slot-scope="scope">
                                    <td v-for="item in scope.row" :key="item.id">{{item}}</td>
                                    <!-- <td>{{scope.row}}</td> -->
                                    <!-- <td class="is-right">{{scope.row.calories}}</td> -->
                                    <!-- <td class="is-right">{{scope.row.fat}}</td> -->
                                    <!-- <td class="is-right">{{scope.row.carbs}}</td> -->
                                    <!-- <td class="is-right">{{scope.row.protein}}</td> -->
                                    <!-- <td class="is-right">{{scope.row.iron}}</td> -->
                                    </template>
                                </mu-data-table>
                                </mu-paper>
                    </mu-container>
                    <mu-container class="laughtpictures" v-show="shift=='laughtpictures'">
                        <!-- <div  v-for="item in list_laughtpictures" :key="item.id">
                                <img :src="item.image"/>
                        </div> -->
                        <div v-resize="resize"></div>
                        <div class="laughtpictures-contain">
                          <iframe  :height="screenheight" src="http://image.baidu.com/search/index?tn=baiduimage&ct=201326592&lm=-1&cl=2&ie=gb18030&word=%B3%D4%BC%A6%B8%E3%D0%A6%CD%BC%C6%AC&fr=ala&ala=2&alatpl=sp&pos=0" frameborder="0"></iframe>
                        </div>
                    </mu-container>
                    <mu-container class="mapchart" v-if="shift=='mapchart'">
                       <iframe :height="screenheight" src="charts" frameborder="0"></iframe>
                    </mu-container>
                </div>
            <!-- </mu-container> -->
        </div>
    </div>
</body>
<script src="../../../static/lib/vue.js"></script> 
<script src="../../../static/lib/muse-ui/muse-ui.js"></script>
<!-- <scirpt src="../../../static/lib/axios/axios.js"></scirpt> -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../../static/lib/js/main.js"></script>
<script>
</script>
</html>